*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hammersmith One', sans-serif;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo img{
    margin-top: 1px;
    margin-left: 1px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-0 img{
    height: 200px;
    width: 300px;
    margin-left: 24px;
    padding: 0 0;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width:100%;
    height: 100%;
    padding: 50px 0;
    
}
.head{
    font-size: 25px;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25px;
}
.head{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 30px;
    line-height: 40px;
    margin-left: 50px;
    font-family:'Times New Roman', Times, serif;
}
.btn{
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #FFA500;
}
.header{
    background: radial-gradient(#fff,#FFA500);
}
.categories{
    margin: 70px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    
}
.small-container{
    max-width: 1300px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.col-4{
    flex-basis: 25%;
    padding: 30px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.25s;
}
.col-4 img{
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 14px;
}
.ratting .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-20px)
}
/*---------------------offer----------------------*/
.offer{
    background: radial-gradient(#fff,#FFA500);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2  .offer-img{
    padding: 30px;
}
h4{
    color:#555;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px  0px rgba(0, 0, 0,0.5);
    cursor: pointer;
    transition: transform 25s;
}
.testimonial .col-3 img{
    width: 100px;
    margin-top: 20px;    
    border-radius: 50%;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 30px;
    color: tomato;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial  .col-3 h3{
    font-weight: 600 ;
    color: #555;
    font-size: 20px;
}
.brands{
    margin: 15px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    height: 100%;
    padding: 50px 0;
    filter: grayscale(100%);
}
.col-5 img:hover{
       filter: grayscale(0);
}
/*-------------------------footer---------------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0px 20px;
    margin-top:2px;

}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex-basis: 1;
    text-align: center;

}
.footer-col-2 img{
    width: 200px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 200px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px; 
    margin: 20px 0;
}
.copyright {
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-------------------media query for menu --------------------*/
@media only screen and (max-width : 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    }
    /*-------------------------------------all prodcts-----------------------------*/
    .row-2{
        justify-content: space-between;
        margin: 100px auto 50px;
    }
    select{
        border: 1px solid #ff523b;
        padding: 5px;
    }
    select:focus{
        outline: none;
    }
    .page-btn{
        margin: 0 auto 80px;
    }
    .page-btn span{
        display: inline-block;
        border: 1px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    .page-btn span:hover{
        background: #ff523b;
        color: #fff;
    }
    /*---------------------------------single product  deails----------------------*/
    .single-product{
        margin-top: 80p;
    }
    .single-product .col-2 img{
        padding: 0;
    }
    .single-product .col-2{
        padding: 20px;
    }
    .single-product .col-2 h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;

    }
    .single-product .col-2{
        display: block;
        padding: 10px;
        margin-top: 20px;
    }
    .single-product .col-2 input{
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #ff523b;
    }
    input:focus{
        outline: none;
    }
    .single-product .fa{
        color: #ff523b;
        margin-left: 10px;
    }
    .small-img-row{
        display: flex;
        justify-content: space-between;
    }
    .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
    }
    








    /*-------------------media query for less than 600 sceen size --------------------*/
    @media only screen and (max-width: 600px){
        .row{
            text-align: center;
        }
        .col-2, .col-3, .col-4{
            flex-basis: 100%;
        }
        .single-product .row{
            text-align: left;
        }
        .single-product .col-2{
            padding: 20px 0;
        }
        .single-product h1{
            font-size: 26px;
            line-height: 32px;
        }
        .cart-info p{
            display: none;
        }
    }
    /*------------------------------cart item details-------------------------*/
    .cart-page{
        margin: 80px auto;
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    .cart-info{
        display: flex;
        flex-wrap: wrap;
    }
    th{
       text-align: left;
       padding: 50px;
       color: #fff;
       background: #ff523b;
       font-weight: normal;
    }
    td{
        padding: 10px 5px;

    }
    td input{
        width: 40px;
        height: 30px;
        padding: 5px;
    }
    td a{
        color: #ff523b;
        font-size: 12px;
    }
    td img{
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
    }
    .total-price table{
        border-top: 3px solid #ff523b;
        width: 100%;
        max-width: 500px;
    }
    td:last-child{
        text-align: right;
    }
    th:last-child{
        text-align: right;
    }
    /*-------------------------account page--------------------------*/
    .account-page{
        padding: 50px 0;
        background: radial-gradient(#fff,#ffd6d6);
    }
    .account-page img{
        height: 500px;
        width: 450px;
    }
    .form-container{
        background: #fff;
        width: 300px;
        height: 400px;
        position: relative;
        margin: auto;
        text-align: center;
        padding: 100px 0;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    .form-container span{
        font-weight: bold;
        padding: 0 10px;
        color: #555;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }
    .form-btn{
        display: inline-block;
    }
    .form-container form{
        max-width: 300px;
        padding: 0 20px;
        position: absolute;
        top: 130px;
        transition: transform 1s;
    }
    form input{
        width: 100%;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
        border: 1px solid #ccc;
    }
    form .btn{
        width: 100%;
        border: none;
        cursor: pointer;
        margin: 10px 0;
    }
    form .btn:focus{
        outline: none;
    }
    #loginform{
        left: -300px;
    }
    #regform{
        left: 0;
    }
    form a{
        font-size: 12px;
    }
    #indicator{
        width: 100px;
        border: none;
        background: #ff523b;
        height: 3px;
        margin: 8px;
        transform: translateX(100px);
        transition: transform 1s;
    }

/*------------------------------login page--------------------------*/
    .login{
           text-align: center;
           
    }
    .login img{
        margin-left: 320px;
        
    }
    .btn{
        text-align: center;
    }
    /*------------------------------user account--------------------------*/
    .myaccount{
        margin-left: 50px;
        font-size: 50px;
        font-family:'Hammersmith One', sans-serif; 
    }
    .myaccount p{
        color: #FFA500;
        text-shadow:2px 2px 1px #000;
    }
    .myaccount h3{
        color: #000;
        font-size: 20px;
        font-family:'Hammersmith One', sans-serif; 
        font-weight: lighter;
        margin-top: 10px;
    }
    .details{
        width: 500px;
        height: 320px;
        padding: 20px;
        border: 3px solid black;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .customer{
        position: absolute;
        width: 500px;
        height: 350px;
        padding: 20px;
        border: 3px solid black;
        margin-left: 800px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .customer{
        top: 285px;
    }
    
    .details-email>button{
        background: black;
          color:white;
      }
      .details-email>input{
        border:2px solid black;
        color:black;
        margin:-4px;
      }
      .details-email{
        border-radius:4px;
        
      }
      .email-input{
        border-radius:4px;
        padding:0px;
        top:450px;
        left:1000px;
        display: flex;
      }
      .details-username>button{
        background: black;
          color:white;
          border:2px solid black;
          color:black;
          margin:-4px;
      }
      .username-input{
        border-radius:4px;
        padding:0px;
        top:450px;
        left:1000px;
        display: flex;
      }
      .details-addr1>button{
        background: black;
          color:white;
          border:2px solid black;
          color:black;
          margin:-4px;
      }
      .addr1-input{
        border-radius:4px;
        padding:0px;
        top:450px;
        left:1000px;
        display: flex;
      }
      .details-addr2>button{
        background: black;
          color:white;
          border:2px solid black;
          color:black;
          margin:-4px;
      }
      .addr2-input{
        border-radius:4px;
        padding:0px;
        top:450px;
        left:1000px;
        display: flex;
      }
      .details-phno>button{
        background: black;
          color:white;
          border:2px solid black;
          color:black;
          margin:-4px;
      }
      .phno-input{
        border-radius:4px;
        padding:0px;
        top:450px;
        left:1000px;
        display: flex;
      }
      .addr1-textarea{
        height: 20px;
        width: 30px;
        top: 50px;
      }
      






